@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

section[epub|type~="epigraph"] h2{
	display: none;
}

section > header{
	text-align: center;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

section[epub|type~="dedication"]{
	text-align: center;
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

abbr.name{
	white-space: nowrap;
}

.inscription p,
.sign p,
.manuscript{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
	hyphens: none;
}

.notice p,
[epub|type~="z3998:postscript"],
[epub|type~="z3998:salutation"] + p,
.menu p{
	text-indent: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

.signature{
	font-variant: small-caps;
	text-align: right;
}

.menu{
	text-align: center;
}

.menu p + p::before{
	content: '—';
	display: block;
}

.sign{
	margin: 1em auto;
	padding: 1em;
	max-width: 15em;
	text-align: center;
	font-variant: small-caps;
}

div.sign{
	border-width: 1px;
	border-style: solid;
}

[epub|type~="z3998:letter"] footer,
[epub|type~="z3998:postscript"]:first-of-type{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:stage-direction"]:before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]:after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: small-caps;
	text-transform: lowercase;
}

td[epub|type~="z3998:persona"]{
	text-align: right;
	white-space: nowrap;
}

td{
	vertical-align: top;
	padding: .5em;
}

body [xml|lang]{ /* using xml:lang doesn't seem to work */
	font-style: italic;
}
